<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Number Generated</title>
    <link rel="stylesheet" href="{% static 'CSS/bridge.css' %}">
</head>
<body>
    <div class="container">
        <p class="message">Your account number is generated successfully. Please note your account number otherwise you will forget it:</p>
        <p class="account-number">{{ account.account_number }}</p>
        <a href="{% url 'validate_pin' %}" class="button">Go to Login Page</a>
    </div>
</body>
</html>
