<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot PIN</title>
    <link rel="stylesheet" href="{% static 'CSS/forgot_pin.css' %}">
</head>
<body>
    <div class="form-container">
        <h1>Forgot PIN</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="content">
                <p>Please enter your email to receive an OTP for PIN recovery.</p>
            </div>
            <label for="email">Enter your email:</label>
            <input type="email" name="email" id="email" required>
            <p>
                
            </p>
            <button type="submit">Send OTP</button>
        </form>
        {% if messages %}
            <div class="messages">
                <ul>
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</body>
</html>
